################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SmartMirror/bin
/SmartMirror/BundleArtifacts
/SmartMirror/obj
/SmartMirror/Properties
/SmartMirror/Package.appxmanifest
/SmartMirror/project.json
/SmartMirror/project.lock.json
/SmartMirror/SmartMirror.csproj.user
/SmartMirror/SmartMirror_TemporaryKey.pfx
/SmartMirror/SmartMirror.csproj
/SmartMirror.sln
