################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SmartMirror/bin
/SmartMirror/BundleArtifacts
/SmartMirror/obj
/SmartMirror/project.lock.json
/SmartMirror/SmartMirror.csproj.user
/SmartMirror/SmartMirror_TemporaryKey.pfx
/SmartMirrorTests/obj
/SmartMirrorTests/SmartMirrorTests_TemporaryKey.pfx
/SmartMirrorTests/bin/x86/Release
